<div class="alicyn-page">
  <div class="alicyn-app-block section-pad">
    {% for block in section.blocks %}
      {% render block %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Apps",
  "settings": [],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Apps"
    }
  ]
}
{% endschema %}
